asgiref==3.3.2
autopep8==1.5.6
click==7.1.2
Django==3.1.8
flake8==3.9.0
Flask==1.1.2
hupper==1.10.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pycodestyle==2.7.0
pyflakes==2.3.1
pyramid==2.0
pytz==2021.1
sqlparse==0.4.1
toml==0.10.2
translationstring==1.4
venusian==3.0.0
WebOb==1.8.7
Werkzeug==1.0.1
zope.deprecation==4.4.0
zope.interface==5.3.0
